@font-face {
  font-family: poppins;
  src: url('./web-fonts/Poppins-Light.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #10cf2638;
}

::-webkit-scrollbar-thumb {
  background-color: #0ca01d;
  border-radius: 150px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  position: relative;
}

.app .conteneur-onglets {
  font-family: poppins, Impact;
}

.app .conteneur-onglets .onglets-blocs {
  width: 60%;
  display: flex;
  justify-content: space-around;
  height: 5vh;
  margin: 15px;
}

.app .conteneur-onglets .onglets-blocs .tab {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 20px;
  transition: all .3s;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(105, 99, 99);
  letter-spacing: 1px;
  border-radius: 8px;
}

.app .conteneur-onglets .onglets-blocs .tab::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #07da5f;
  bottom: -2px;
}

/* .app .conteneur-onglets .onglets-blocs .tab.active::before {
  width: 90%;
  transition: all .3s;
} */


.app .conteneur-onglets .onglets-blocs .tab.active {
  background: #dddbdbb9;
  border: none;
  color: #1ddb6c;
  transition: all .3s;
  /* text-shadow: 1px 1px 1px 5px #0069d9; */
}

.erreur-message {
  text-align: center;
  position: relative;
  font-weight: 600;
  color: rgba(238, 42, 42, 0.952);
}